h1{
    color: red; 
    /* color: #f00; */
    /* color: rgb(100, 100, 100); */
    text-align: center;
    font-size: 30px;
}

/* universal selector */
*{
    color: blue;
    
}
*{
    margin: 0px;
    padding: 0;
}

/* tag/ element selector */
h2{
    color: green;
    text-align: right;
}

/* Attribute selector */
a[title="Google"]{
    color: yellow;
    text-decoration: line-through;
}
/* id selector */
#idselector{
    text-indent: 40px;
    font-size: 20px;
    word-spacing: 30px;
    letter-spacing: 10px;
}
/* Class selector */
.classselector{
    color: brown;
    letter-spacing: 10px;
}
/* Descendant selector */
#desc a{
    color: red;
}
/* Child selector */
#child > a{
    color: green;
}
/* Margin */
.marginone{
    /* margin: 50px; */
    /* All four */
    margin: 100px 50px;
    /* T&B L&R */
    border: 2px solid red;
}
.margintwo{
    margin-top: 20px;
    border: 2px solid green;
}

/* padding */
.padding{
    /* padding: 50px 100px 20px 150px; */
    padding-top: 100px;
    border: 2px solid black;
}

/* layout */
.inline{
    border: 1px solid red;
    width: 400px;
    display: inline-block;
}
.block{
    border: 1px solid brown;
    width: 400px;
}

/* Float */
.float_left img{
    width: 40%;
    float: left;
    margin-right: 30px
}
.clear{
    clear: both;
}
.float_right img{
    width: 40%;
    margin-top: 5px;
    margin-left: 30px;
    float: right;
}

/* grid */

.gridone div,.gridtwo div,.gridthree div,.gridfour div{
    padding: 20px;
    text-align: center;
    color: white;
}

.gridone,.gridtwo,.gridthree,.gridfour{
    display: grid;
    grid-template-columns: auto auto auto;
}
.gridtwo{
    /* grid-column-gap: 30px; */
    /* grid-row-gap: 50px; */
    grid-gap: 40px;
}

.rowadd{
    grid-row-start: 1;
    grid-row-end: 3;
}

.columadd{
    grid-column-start: 1;
    grid-column-end: 3;
}

/* Position */
.relative_parent{
    border: 1px solid red;
    width: 1000px;
    height: 400px;
}
.relative{
    border: 1px solid green;
    width: 300px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 200px;
}
.absolute_parent{
    border: 1px solid red;
    width: 1000px;
    height: 400px;
    position: relative;
}
.absolute{
    border: 1px solid green;
    width: 200px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 200px;
}
.fixed{
    position: fixed;
    top: 100px;
    right: 100px;
    border: 1px solid black;

}
